.jumbotron
{
background:mediumpurple;
}
.container
{
margin-top:100px;
}
body
{
background:url(https://cdn-images-1.medium.com/max/2000/1*YRINRZFr0E1FRJ4JpizEMw.jpeg);
background-repeat:no-repeat;
background-size:cover;
color:blue;
}
ul
{
font-size:25px;
}

img
{
width:10%;
height:200px;
border:solid black;
}


